<div id="<%= dom_id comment %>">
  <p>
    <strong>Status:</strong>
    <%= comment.status %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= comment.body %>
  </p>

  <p>
    <strong>Filme:</strong>
    <%= comment.filme_id %>
  </p>

</div>
